services:
  server:
    container_name: orderly-server
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
      - postgres
    restart: unless-stopped
    ports:
      - "3000:3000"

  redis:
    container_name: redis
    image: redis
    command: redis-server --appendonly yes --replica-read-only no
    restart: always
    volumes:
      - redis_data:/data

  postgres:
    container_name: postgres
    image: postgres:15
    environment:
      POSTGRES_DB: orderly
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  redis_data:
  postgres_data:
